<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../assets/css/style.css">
  {{!-- <title>Node.js</title> --}}
  <title>{{ pageTitle }}</title>
</head>
<body>
  {{!-- Hello Node.js! --}}
  <p>{{ pageBody }}</p>
  <p>{{ future }}</p>

  <input type="text" id="textInput">
  <button id="btn">Click</button>
  <p id="log"></p>
  <a href="./subpage">Subpage</a>
  <a href="./courses">Courses</a>
  <a href="./mywebsite.html">My website</a>

  <script src="../js/func.js"></script>
</body>
</html>